<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
  rel="stylesheet">


<input type="file" id="file" name="file" (change)="onFileSelected($event)">
<label class="upload-file-main" for="file">
  <div class="select-file common-upload">Select File</div>
</label>
<div class="file-upload-information" *ngIf="fileName != '' && fileSize != 0">
  <p><b>File Name:</b> {{fileName}}</p>
  <p><b>File Size:</b> {{fileSize | fileSize }}</p>
</div>
<button class="upload-button common-upload" (click)="onSubmit()">Upload File</button>


<button class="button-two" *ngIf="sentJson.getJsonData()" (click)="goDirectlyToHome()"><span>Go Main</span></button>