<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+CZ:wght@100..400&family=Satisfy&display=swap" rel="stylesheet">

<div class="input-box-div" >
  <input #googlesearch type="text" class="google-search" (focus)="inputFocus()" 
  (blur)="inputBlur()" (keydown.enter)="onEnter(googlesearch.value)" appSectionBorder/>
  <div #placeholder class="search-placeholder">Google Search</div>
  <img src="assets/svg/search.svg" class="search" alt="SVG Image" (click)="onSearch(googlesearch.value)">
</div>