:host{
  background-color: #96C9F4;
  display: block;
  color:rgb(0, 0, 0); 
  font-family: "Rubik", sans-serif;
  padding-bottom: 30px;
}

.section-1 {
  display: flex;
  cursor: default;
}

.sec-1-common {
  height: 400px;
  width: 50%;
}

.sec-1-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  letter-spacing: 10px;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
}

.section-2{
  cursor: default;
  padding: 5px;
}

.section-3{
  cursor: default;
  padding: 5px;
}

.section-4{
  cursor: default;
  display: flex;
  padding-top: 25px;
  margin: 0px 10px 0px 10px;
  justify-content: space-between;
}

.section-4-common{
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  margin: 0px 5px 0px 5px;
}

.section-4-1{
  width: 49%;
}

.section-4-2{
  width: 49%;
}


.sec-2-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-5{
  cursor: default;
  display: flex;
  padding-top: 25px;
  margin: 0px 10px 0px 10px;
  justify-content: space-between;
}

.section-5-common{
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  margin: 0px 5px 0px 5px;
}

.section-5-1{
  width: 49%;
  border: 1px solid black;
}


@media(max-width:806px) {
  .section-1 {
    flex-direction: column;
  }

  .sec-1-common {
    width: 100%;
  }

  .section-4{
    flex-direction: column;
  }

  .section-4-1{
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  
  .section-4-2{
    width: 100%;
    margin: 40px 0px 0px 0px;
  }

  .section-5-1{
    width: 100%;
    border: 1px solid black;
  }
  
  
}


