<div class="section-1">
  <div class="sec-1-title sec-1-common">
    {{projectTitle}}
  </div>
  <div class="sec-2-time sec-1-common">
    <app-show-time></app-show-time>
  </div>
</div>

<div class="section-2">
  <app-google-search></app-google-search>
</div>

<div class="section-3">
  <app-env-links [applicationLinks]="applicationLinks"></app-env-links>
</div>

<!-- <div class="section-4">
  <div class="section-4-1 section-4-common" appSectionBorder>
    <app-other-links [OtherLink]="otherLinks"></app-other-links>
  </div>
  <div class="section-4-2 section-4-common" appSectionBorder>
    <app-todo-list></app-todo-list>
  </div>
</div>


<div class="section-5">
  <div class="section-5-1 section-5-common" appSectionBorder>
    <app-download-links [DownloadLink]="downloadLinks"></app-download-links>
  </div>
</div> -->

<div class="section-4">


  <div class="left-4 common-4">

    <div class="other-links-main  sec-4-sub-common" appSectionBorder>
      <app-other-links [OtherLink]="otherLinks"></app-other-links>
    </div>

    <div class="download-links-main sec-4-sub-common" appSectionBorder>
      <app-download-links [DownloadLink]="downloadLinks"></app-download-links>
    </div>
  </div>

  <div class="right-4 common-4">
    <div class="sec-4-sub-common" appSectionBorder>
      <app-todo-list></app-todo-list>
    </div>
  </div>


</div>


<div class="music-div">
  <img *ngIf="music_status" src="assets/svg/music_start2.svg" class="music music-animation" (click)="musicplay()" alt="SVG Image">
  <img *ngIf="!music_status" src="assets/svg/music_stop2.svg" class="music" (click)="musicplay()" alt="SVG Image">
  <mat-slider thumbLabel (input)="volumeLevel($event)"  *ngIf="music_status && musicService.getMusicURL()" class="volume-slider" min="1" max="100" step="1" [value]="musicService.volume"></mat-slider>
</div>