<div class="section-1">
  <div class="sec-1-title sec-1-common">
    {{projectTitle}}
  </div>
  <div class="sec-2-time sec-1-common">
    <app-show-time></app-show-time>
  </div>
</div>

<div class="section-2">
  <app-google-search></app-google-search>
</div>

<div class="section-3">
  <app-env-links [applicationLinks]="applicationLinks"></app-env-links>
</div>

<div class="section-4">
  <div class="section-4-1 section-4-common" appSectionBorder>
    <app-other-links [OtherLink]="otherLinks"></app-other-links>
  </div>
  <div class="section-4-2 section-4-common" appSectionBorder>
    <app-todo-list></app-todo-list>
  </div>
</div>