:host {
  background-color: #96C9F4;
  display: block;
  color: rgb(0, 0, 0);
  font-family: "Rubik", sans-serif;
  padding-bottom: 30px;
  background-image: url('../../../assets/bg-main.jpg');
  background-size: cover;
  /* Cover the entire viewport */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
}

.section-1 {
  display: flex;
  cursor: default;
}

.sec-1-common {
  height: 400px;
  width: 50%;
}

.sec-1-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  letter-spacing: 10px;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

.section-2 {
  cursor: default;
  padding: 5px;
}

.section-3 {
  cursor: default;
  padding: 5px;
}

.sec-2-time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-4 {
  display: flex;
  justify-content: space-around;
}

.common-4 {
  width: 49%;
  margin-top: 20px;
}

.download-links-main {
  margin-top: 25px;
}

.sec-4-sub-common {
  padding: 3px 8px 3px 8px;
}


@media(max-width:806px) {
  .section-1 {
    flex-direction: column;
  }

  .sec-1-common {
    width: 100%;
  }


  .section-4 {
    flex-direction: column;
  }

  .common-4 {
    width: 100%;
  }

  .left-4{
    margin-top: 25px;
  }

}